---
import Layout from "../layouts/Layout.astro";
---
<link rel="stylesheet" href="/css/app.css">
<Layout>
	<main>
		<div class= "landing">
			<div class="blurr-background">
				<h4 class="secondary-text secondary-font" >Truly Tagum</h4>
				<div class="main_text">
					<h1 class="main-font">
						<span class="magic">

							<span class="magic-note">
									<svg fill="#ffff" width="70px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
									viewBox="0 0 444.606 444.606" xml:space="preserve">
								<path id="XMLID_1341_" d="M358.977,220.053c31.272-77.402-21.645-121.063-56.66-149.955c-8.112-6.692-25.178-19.149-41.199-52.987
									V10c0-5.523-4.477-10-10-10c-5.523,0-10,4.477-10,10c0,5.618,0,324.38,0,328.991c-19.171-16.86-46.678-24.384-72.5-24.384
									c-50.053,0-92.5,27.825-92.5,65c0,37.17,42.439,65,92.5,65c50.053,0,92.5-27.825,92.5-65V131.748
									c27.255,46.08,117.674,84.44,74.208,171.071c-2.477,4.936-0.483,10.946,4.454,13.422c4.933,2.476,10.945,0.485,13.422-4.454
									c16.222-32.332,18.079-62.31,5.656-91.495C358.894,220.21,358.943,220.137,358.977,220.053z M168.618,424.606
									c-39.299,0-72.5-20.607-72.5-45s33.201-45,72.5-45s72.5,20.607,72.5,45S207.917,424.606,168.618,424.606z M288.01,134.968
									c-26.448-29.946-26.89-76.215-26.891-76.679v-2.022c11.371,15.69,19.576,21.92,28.47,29.258
									c31.206,25.748,69.375,57.256,56.016,111.214C327.766,171.248,302.647,151.542,288.01,134.968z"/>
								</svg>
							</span>

							<span class="magic-note">
								<svg fill="#ffff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
									width="70px" viewBox="0 0 276.164 276.164"
									xml:space="preserve">
								<g>
									<path d="M156.716,61.478c-4.111,6.276-8.881,11.511-14.212,15.609l-8.728,6.962c-13.339,11.855-22.937,21.433-28.542,28.464
										c-10.209,12.788-15.806,25.779-16.65,38.611c-0.942,14.473,3.187,28.21,12.275,40.84c9.636,13.458,21.8,20.754,36.164,21.69
										c3.291,0.218,6.897,0.182,9.896-0.015l-1.121-10.104c-2.09,0.192-4.306,0.223-6.628,0.068c-9.437-0.617-17.864-4.511-25.064-11.573
										c-7.524-7.333-10.895-15.415-10.287-24.7c1.149-17.59,12.562-35.004,33.925-51.792l9.543-7.599
										c8.394-7.174,15.192-16.191,20.216-26.825c4.971-10.556,7.886-21.983,8.673-33.96c0.466-7.037-0.513-15.775-2.874-25.965
										c-3.241-13.839-7.854-20.765-14.136-21.179c-2.232-0.138-4.676,0.986-7.658,3.617c-7.252,6.548-12.523,14.481-15.683,23.542
										c-2.438,6.926-4.057,16.189-4.805,27.529c-0.313,4.72,0.313,13.438,1.805,23.962l8.844-8.192c-0.028-1.183,0.005-2.413,0.096-3.703
										c0.466-7.221,2.289-15.062,5.394-23.293c3.956-10.296,7.689-13.409,10.133-14.204c0.668-0.218,1.32-0.298,2.015-0.254
										c3.185,0.212,6.358,1.559,5.815,9.979C164.664,46.132,161.831,53.693,156.716,61.478z"/>
									<path d="M164.55,209.161c5.728-2.568,10.621-6.478,14.576-11.651c5.055-6.561,7.897-14.316,8.467-23.047
										c0.72-10.719-1.854-20.438-7.617-28.895c-6.322-9.264-14.98-14.317-25.745-15.026c-1.232-0.081-2.543-0.075-3.895,0.025
										l-2.304-17.191l-9.668,7.112l1.483,12.194c-5.789,2.393-10.827,6.17-15.017,11.255c-4.823,5.924-7.508,12.443-7.964,19.382
										c-0.466,7.208,1.142,13.81,4.782,19.583c1.895,3.081,4.507,5.82,7.498,8.058c4.906,3.65,10.563,3.376,11.459,1.393
										c0.906-1.983-2.455-5.095-5.09-9.248c-1.502-2.351-2.242-5.173-2.242-8.497c0-7.053,4.256-13.116,10.317-15.799l5.673,44.211
										l1.325,10.258c0.864,4.873,1.719,9.725,2.537,14.52c1,6.488,1.352,12.112,1.041,16.715c-0.419,6.375-2.408,11.584-5.919,15.493
										c-2.234,2.485-4.844,4.055-7.795,4.925c3.961-3.962,6.414-9.43,6.414-15.478c0-12.075-9.792-21.872-21.87-21.872
										c-3.353,0-6.491,0.812-9.329,2.159c-0.36,0.155-0.699,0.388-1.054,0.574c-0.779,0.425-1.559,0.85-2.286,1.362
										c-0.249,0.187-0.487,0.403-0.732,0.605c-4.888,3.816-8.091,9.616-8.375,16.229c0,0.01-0.011,0.021-0.011,0.031
										c0,0.005,0,0.01,0,0.016c-0.013,0.311-0.09,0.59-0.09,0.896c0,0.259,0.067,0.492,0.078,0.74
										c-0.011,7.084,2.933,13.179,8.839,18.118c5.584,4.666,12.277,7.28,19.892,7.777c4.327,0.28,8.505-0.217,12.407-1.485
										c3.189-1.041,6.275-2.62,9.149-4.687c6.96-5.022,10.75-11.584,11.272-19.532c0.399-6.063,0.094-13.235-0.937-21.411l-2.838-18.429
										l-7.156-52.899c7.984,1.532,14.027,8.543,14.027,16.968c0,5.986-1.937,15.431-5.551,20.376L164.55,209.161z"/>
								</g>
								</svg>
							</span>

							<span class="magic-note">
								<svg fill="#ffff" width="70px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
										viewBox="0 0 472.615 472.615" xml:space="preserve">
									<g>
										<g>
											<path d="M155.885,72.971v280.104c-3.279-2.917-6.908-5.599-10.947-7.959c-20.403-11.941-47.482-14.669-74.091-7.521
												C24.022,350.101-6.442,389.687,2.96,425.791c3.856,14.669,13.634,26.89,28.115,35.448c12.974,7.522,28.489,11.376,45.037,11.376
												c9.497,0,19.275-1.315,29.054-3.948c40.825-10.929,69.089-42.375,69.451-74.137h0.074V178.644l277.861-64.268v170.04
												c-3.277-2.909-6.91-5.583-10.964-7.936c-20.403-11.941-47.389-14.574-74.091-7.522c-46.824,12.504-77.195,52.088-67.793,88.195
												c3.856,14.762,13.539,26.986,28.02,35.447c12.975,7.522,28.583,11.377,45.037,11.377c9.497,0,19.276-1.315,29.054-3.948
												c41.323-11.038,69.858-43.09,69.541-75.283V0L155.885,72.971z"/>
										</g>
									</g>
								</svg>
							</span>

							<span class="magic-text">
								The City in Harmony
							</span>
						</span>
					</h1>
				</div>
				
				<h5 class="secondary-theme">musikahan</h5>
				
			</div>
			
			<svg class="music-staff" id="eukGjsf86Li1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 668" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><g style="mix-blend-mode:color" transform="matrix(-1.013501 0 0 1 1932.739024-56.770981)"><path d="M0,257.883709q423.488739-120.220011,836.008383-54.216868q264.012571,44.787846,240.44002,108.433734c-23.572551,63.645888-492.666319,161.141958-273.441594,227.899423s412.519643-232.613933,714.248297-154.824515q301.728654,77.789418,403.090623,0" transform="matrix(.999553-.029891 0.029891 0.999553-22.142753 119.277533)" fill="none" stroke="#fff" stroke-width="3.84"/><path d="M0,257.883709q423.488739-120.220011,836.008383-54.216868q264.012571,44.787846,240.44002,108.433734c-23.572551,63.645888-492.666319,161.141958-273.441594,227.899423s412.519643-232.613933,714.248297-154.824515q301.728654,77.789418,403.090623,0" transform="matrix(.99765 0.068512-.068512 0.99765 17.488371-123.078698)" fill="none" stroke="#fff" stroke-width="3.84"/><path d="M0,257.883709q423.488739-120.220011,836.008383-54.216868q264.012571,44.787846,240.44002,108.433734c-23.572551,63.645888-492.666319,161.141958-273.441594,227.899423s412.519643-232.613933,714.248297-154.824515q301.728654,77.789418,403.090623,0" transform="translate(-9.771031 42.430594)" fill="none" stroke="#fff" stroke-width="3.84"/><path d="M0,257.883709q423.488739-120.220011,836.008383-54.216868q264.012571,44.787846,240.44002,108.433734c-23.572551,63.645888-492.666319,161.141958-273.441594,227.899423s412.519643-232.613933,714.248297-154.824515q301.728654,77.789418,403.090623,0" transform="matrix(.999679 0.025351-.025351 0.999679-.519079-24.22445)" fill="none" stroke="#fff" stroke-width="3.84"/><path style="mix-blend-mode:color" d="M0,257.883709q423.488739-120.220011,836.008383-54.216868q264.012571,44.787846,240.44002,108.433734c-23.572551,63.645888-492.666319,161.141958-273.441594,227.899423s412.519643-232.613933,714.248297-154.824515q301.728654,77.789418,403.090623,0" transform="matrix(.99844-.055829 0.055829 0.99844-32.679614 192.435211)" fill="none" stroke="#fff" stroke-width="3.84"/></g></svg>
			
			<div class="notes">
				
				<svg class="note" fill="#ffff" width="70px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
					viewBox="0 0 444.606 444.606" xml:space="preserve">
				<path id="XMLID_1341_" d="M358.977,220.053c31.272-77.402-21.645-121.063-56.66-149.955c-8.112-6.692-25.178-19.149-41.199-52.987
					V10c0-5.523-4.477-10-10-10c-5.523,0-10,4.477-10,10c0,5.618,0,324.38,0,328.991c-19.171-16.86-46.678-24.384-72.5-24.384
					c-50.053,0-92.5,27.825-92.5,65c0,37.17,42.439,65,92.5,65c50.053,0,92.5-27.825,92.5-65V131.748
					c27.255,46.08,117.674,84.44,74.208,171.071c-2.477,4.936-0.483,10.946,4.454,13.422c4.933,2.476,10.945,0.485,13.422-4.454
					c16.222-32.332,18.079-62.31,5.656-91.495C358.894,220.21,358.943,220.137,358.977,220.053z M168.618,424.606
					c-39.299,0-72.5-20.607-72.5-45s33.201-45,72.5-45s72.5,20.607,72.5,45S207.917,424.606,168.618,424.606z M288.01,134.968
					c-26.448-29.946-26.89-76.215-26.891-76.679v-2.022c11.371,15.69,19.576,21.92,28.47,29.258
					c31.206,25.748,69.375,57.256,56.016,111.214C327.766,171.248,302.647,151.542,288.01,134.968z"/>
				</svg>
				<svg class ="note" fill="#ffff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
					width="70px" viewBox="0 0 276.164 276.164"
					xml:space="preserve">
				<g>
					<path d="M156.716,61.478c-4.111,6.276-8.881,11.511-14.212,15.609l-8.728,6.962c-13.339,11.855-22.937,21.433-28.542,28.464
						c-10.209,12.788-15.806,25.779-16.65,38.611c-0.942,14.473,3.187,28.21,12.275,40.84c9.636,13.458,21.8,20.754,36.164,21.69
						c3.291,0.218,6.897,0.182,9.896-0.015l-1.121-10.104c-2.09,0.192-4.306,0.223-6.628,0.068c-9.437-0.617-17.864-4.511-25.064-11.573
						c-7.524-7.333-10.895-15.415-10.287-24.7c1.149-17.59,12.562-35.004,33.925-51.792l9.543-7.599
						c8.394-7.174,15.192-16.191,20.216-26.825c4.971-10.556,7.886-21.983,8.673-33.96c0.466-7.037-0.513-15.775-2.874-25.965
						c-3.241-13.839-7.854-20.765-14.136-21.179c-2.232-0.138-4.676,0.986-7.658,3.617c-7.252,6.548-12.523,14.481-15.683,23.542
						c-2.438,6.926-4.057,16.189-4.805,27.529c-0.313,4.72,0.313,13.438,1.805,23.962l8.844-8.192c-0.028-1.183,0.005-2.413,0.096-3.703
						c0.466-7.221,2.289-15.062,5.394-23.293c3.956-10.296,7.689-13.409,10.133-14.204c0.668-0.218,1.32-0.298,2.015-0.254
						c3.185,0.212,6.358,1.559,5.815,9.979C164.664,46.132,161.831,53.693,156.716,61.478z"/>
					<path d="M164.55,209.161c5.728-2.568,10.621-6.478,14.576-11.651c5.055-6.561,7.897-14.316,8.467-23.047
						c0.72-10.719-1.854-20.438-7.617-28.895c-6.322-9.264-14.98-14.317-25.745-15.026c-1.232-0.081-2.543-0.075-3.895,0.025
						l-2.304-17.191l-9.668,7.112l1.483,12.194c-5.789,2.393-10.827,6.17-15.017,11.255c-4.823,5.924-7.508,12.443-7.964,19.382
						c-0.466,7.208,1.142,13.81,4.782,19.583c1.895,3.081,4.507,5.82,7.498,8.058c4.906,3.65,10.563,3.376,11.459,1.393
						c0.906-1.983-2.455-5.095-5.09-9.248c-1.502-2.351-2.242-5.173-2.242-8.497c0-7.053,4.256-13.116,10.317-15.799l5.673,44.211
						l1.325,10.258c0.864,4.873,1.719,9.725,2.537,14.52c1,6.488,1.352,12.112,1.041,16.715c-0.419,6.375-2.408,11.584-5.919,15.493
						c-2.234,2.485-4.844,4.055-7.795,4.925c3.961-3.962,6.414-9.43,6.414-15.478c0-12.075-9.792-21.872-21.87-21.872
						c-3.353,0-6.491,0.812-9.329,2.159c-0.36,0.155-0.699,0.388-1.054,0.574c-0.779,0.425-1.559,0.85-2.286,1.362
						c-0.249,0.187-0.487,0.403-0.732,0.605c-4.888,3.816-8.091,9.616-8.375,16.229c0,0.01-0.011,0.021-0.011,0.031
						c0,0.005,0,0.01,0,0.016c-0.013,0.311-0.09,0.59-0.09,0.896c0,0.259,0.067,0.492,0.078,0.74
						c-0.011,7.084,2.933,13.179,8.839,18.118c5.584,4.666,12.277,7.28,19.892,7.777c4.327,0.28,8.505-0.217,12.407-1.485
						c3.189-1.041,6.275-2.62,9.149-4.687c6.96-5.022,10.75-11.584,11.272-19.532c0.399-6.063,0.094-13.235-0.937-21.411l-2.838-18.429
						l-7.156-52.899c7.984,1.532,14.027,8.543,14.027,16.968c0,5.986-1.937,15.431-5.551,20.376L164.55,209.161z"/>
				</g>
				</svg>
				<svg class="note" fill="#ffff" width="70px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
						viewBox="0 0 472.615 472.615" xml:space="preserve">
					<g>
						<g>
							<path d="M155.885,72.971v280.104c-3.279-2.917-6.908-5.599-10.947-7.959c-20.403-11.941-47.482-14.669-74.091-7.521
								C24.022,350.101-6.442,389.687,2.96,425.791c3.856,14.669,13.634,26.89,28.115,35.448c12.974,7.522,28.489,11.376,45.037,11.376
								c9.497,0,19.275-1.315,29.054-3.948c40.825-10.929,69.089-42.375,69.451-74.137h0.074V178.644l277.861-64.268v170.04
								c-3.277-2.909-6.91-5.583-10.964-7.936c-20.403-11.941-47.389-14.574-74.091-7.522c-46.824,12.504-77.195,52.088-67.793,88.195
								c3.856,14.762,13.539,26.986,28.02,35.447c12.975,7.522,28.583,11.377,45.037,11.377c9.497,0,19.276-1.315,29.054-3.948
								c41.323-11.038,69.858-43.09,69.541-75.283V0L155.885,72.971z"/>
						</g>
					</g>
					</svg>
			</div>
		</div>
		
		
		<div class="min-h-screen">
			<div class="p-12">
				<span class="text-4xl font-bold">Latest News</span>
				<div class="mt-12 grid sm:grid-cols-3 grid-cols-1 gap-12">
					<div class="rounded-md p-4 shadow-md border">
						<div>
							<span class="text-lg font-bold">Title</span>
							<p class="truncate">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Velit asperiores iure
								voluptates ab excepturi obcaecati aliquam
								pariatur in ad distinctio! Nisi magni magnam
								rerum cum veritatis autem similique expedita ab?
							</p>
						</div>
						<img
							class="mt-4 object-cover w-full object-top rounded-md"
							src="https://picsum.photos/seed/1/200"
							alt=""
						/>
					</div>
					<div class="rounded-md p-4 shadow-md border">
						<div>
							<span class="text-lg font-bold">Title</span>
							<p class="truncate">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Velit asperiores iure
								voluptates ab excepturi obcaecati aliquam
								pariatur in ad distinctio! Nisi magni magnam
								rerum cum veritatis autem similique expedita ab?
							</p>
						</div>
						<img
							class="mt-4 object-cover w-full object-top rounded-md"
							src="https://picsum.photos/seed/1/200"
							alt=""
						/>
					</div>
					<div class="rounded-md p-4 shadow-md border">
						<div>
							<span class="text-lg font-bold">Title</span>
							<p class="truncate">
								Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Velit asperiores iure
								voluptates ab excepturi obcaecati aliquam
								pariatur in ad distinctio! Nisi magni magnam
								rerum cum veritatis autem similique expedita ab?
							</p>
						</div>
						<img
							class="mt-4 object-cover w-full object-top rounded-md"
							src="https://picsum.photos/seed/1/200"
							alt=""
						/>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script lang="javascript">
		let index = 0, interval = 1000;

		const rand = (min, max) => 
			Math.floor(Math.random() * (max - min + 1)) + min;

		const animate = note => {
			var left =  `${rand(-10, 100)}%`;
			var top = `${rand(-40, 80)}%`;
			note.style.setProperty("--note-left", left);
			note.style.setProperty("--note-top", top);

			note.style.animation = "none";
			note.offsetHeight;
			note.style.animation = "";
		}

		for(const note of document.getElementsByClassName("magic-note")){
			setTimeout(() => {
				animate(note);
				setInterval(() => animate(note), 1000);
			}, index++ * (interval / 3));
		}
	</script>
</Layout>
<style lang="css">
	.landing{
		background-image: url('/assets/images/CITYHALL.jpg');
		background-position: center;
		width: 100%;
		height: 100vh;
		text-align: center;
		padding-top: 30vh;
	}	
	.main_text{
		width: 100%;
		height: auto;
		z-index: 2;
		position: relative;
	}
	.music-staff{
		margin-top: -500px;
		z-index: 0;
		width: 100%;
		position: relative;
	}
	.secondary-text{
		color: white;
		margin-bottom: -50px;
		font-weight: bold;
		font-size: 9vh;
		z-index: 2;
		position: relative;;
	}
	.secondary-theme{
		font-size: 4vh;
		z-index: 2;
		position: relative;
	}
	/* .blurr-background{
		width: fit-content;
		padding:30px;
		margin: auto;
		position: relative;
		z-index:1;
		border-radius: 40%;
		backdrop-filter: blur(5px) saturate(70%);
	} */
	.notes{
		margin-top: -500px;
		z-index: 0;
		position: relative;
		height: 100%;
	}
	.note{
		position: absolute;
	}

	.note:nth-child(1){
		transform: translate(0, 280px) rotate(-10deg);
	}


	@keyframes background-pan{
		from{
			background-position: 0% center;
		}
		to{
			background-position: -200% center;
		}
	}

	h1 > .magic > .magic-text{
		animation: background-pan 3s linear infinite;
		font-size: 1000%;
		background: linear-gradient(
			to right,
			#ffd000,
			#eea70d,
			#d46702,
			#eea70d,
			#ffd000
		);
		background-size: 200%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: white 2px;
	}

	h1 > .magic > .magic-note{
		--size: clamp(20px, 1.5vw, 30px);
		
		animation:scale 700ms ease forwards;
		display: block;
		height: var(--size);
		left: var(--note-left);
		position: absolute;
		top: var(--note-top);
		width: var(--size);

	}

	h1 > .magic > .magic-note > svg {
		animation: rotate 1000ms linear infinite;
		display: block;
		opacity: 0.7;
	}

	h1 > .magic {
		display: inline-block;
		position: relative;
	}

	@media (max-width:520px){
		.music-staff{
			margin-top: -250px;
		}
	}
	@media (max-width:600px){
		.blurr-background{
			border-radius: 0%;
			backdrop-filter: blur(4px) saturate(70%);
		}
		
	}

	@keyframes scale{
		from, to {
			transform: scale(0);
		}

		50%{
			transform: scale(1)
		}
	}

	@keyframes rotate{
		from{
			transform: rotate(-90deg);
		}
		to{
			transform: rotate(90deg)
		}
	}

</style>
