---
import AppFooter from '../components/AppFooter.astro';
import AppNav from '../components/AppNav.astro';

const landingImages = [
    '/musikahan/umtagum/assets/images/landing/1.jpg',
    '/musikahan/umtagum/assets/images/landing/2.jpg',
    '/musikahan/umtagum/assets/images/landing/3.jpg',
    '/musikahan/umtagum/assets/images/landing/4.jpg',
];
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link
            rel="shortcut icon"
            href="/musikahan/umtagum/favicon.ico"
            type="image/x-icon"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>Home | Musikahan - Tagum City</title>
        <link rel="stylesheet" href="/musikahan/umtagum/css/index.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
        />
    </head>
    <body class="antialiased font-sans bg-primary-20">
        <div class="relative">
            <AppNav />
            <main>
                <!-- Section 1 -->
                <div class="landing">
                    <div>
                        <h4
                            class="secondary-text secondary-font tracking-[0.25em]"
                        >
                            Truly Tagum
                        </h4>
                        <div class="main_text">
                            <h1 class="main-font">
                                <span class="magic">
                                    <span class="magic-text">
                                        The City in Harmony</span
                                    >
                                </span>
                            </h1>
                        </div>

                        <h5
                            class="secondary-theme secondary-font tracking-[0.25em]"
                        >
                            "MUSIKAHAN: Pagpalig-on sa Kabaguhan, Kahiusahan ug
                            Kadaugan!"
                        </h5>

                        <div>
                            <a
                                href="#latest-news"
                                class="text-white hover:underline p-2 rounded-md border-green-800 flex flex-col justify-center items-center"
                            >
                                <span class="font-semibold text-xl">Latest News</span>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                    class="w-5 h-5 animate-bounce m-2"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M14.77 4.21a.75.75 0 01.02 1.06l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 011.08-1.04L10 8.168l3.71-3.938a.75.75 0 011.06-.02zm0 6a.75.75 0 01.02 1.06l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 111.08-1.04L10 14.168l3.71-3.938a.75.75 0 011.06-.02z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Section 2 -->
                <div
                    class="p-4 sm:p-12 grid sm:grid-cols-2 min-h-screen place-content-center gap-6"
                >
                    <div class="flex flex-col justify-center">
                        <div
                            class="font-bold text-3xl sm:text-4xl text-primary text-center"
                        >
                            Welcome to Tagum City
                        </div>
                        <p class="mt-12 indent-4 text-neutral-800 text-justify">
                            Give your wanderlust a dose. Experience Tagum's
                            culture up close and embark on an odyssey of
                            indulgence in a city known for plethora of
                            impressive festivities and sites. The city of
                            festivals also boosts urban entertainment where you
                            can score some best deals and don't forget fun. But
                            if you wish to get the best of Tagum and take home
                            some local finds, check the Pasalubong Center for
                            souvenir items, food products, and paintings down to
                            handicrafts proudly made by the locals.
                        </p>
                        <p class="mt-4 indent-4 text-neutral-800 text-justify">
                            If you want to get a taste of a trip that's truly
                            Tagumenyo, we are ready to say hello to you. Hop on
                            to that plane ride or take a bus and get a glimpse
                            of a laidback life in an urbanized city you'll
                            definitely love returning to!
                        </p>
                    </div>
                    <div>
                        <div
                            class="splide rounded-md overflow-clip"
                            role="group"
                            aria-label="Splide Basic HTML Example"
                        >
                            <div class="splide__track">
                                <ul class="splide__list">
                                    {
                                        landingImages.map((img) => {
                                            return (
                                                <li class="splide__slide">
                                                    <img
                                                        src={img}
                                                        alt=""
                                                        srcset=""
                                                    />
                                                </li>
                                            );
                                        })
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section 3 -->
                <div
                    class="min-h-screen bg-[#40b774] p-4 sm:p-12 flex flex-col gap-6 sm:gap-8"
                >
                    <div
                        class="text-center w-full font-black text-4xl sm:text-8xl text-green-50"
                    >
                        Barangay Musikahan
                    </div>
                    <div class="flex-grow">
                        <iframe
                            class="rounded-lg aspect-video w-full h-auto"
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/2PUOErcCYhg"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <!-- Section 4 -->
                <div
                    id="latest-news"
                    class="min-h-screen bg-gradient-to-b from-[#40b774] to-[#e6fff2] p-4 sm:p-12"
                >
                    <div
                        class="flex justify-center max-w-2xl w-full text-xl font-semibold text-[#0c4621]"
                    >
                        <div>
                            <div class="font-bold text-3xl text-[#0c4621]">
                                Latest News
                            </div>
                            <ul class="mt-4 list-disc list-inside">
                                <li class="list-item">
                                    <a
                                        class="hover:underline underline-offset-4 decoration-2"
                                        href="/musikahan/umtagum/news/participants-list-up-for-musikahan-festival"
                                    >
                                        PARTICIPANTS LIST UP FOR MUSIKAHAN
                                        FESTIVAL
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
            <AppFooter />
        </div>
        <script
            is:inline
            src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"
        ></script>
        <script is:inline>
            new Splide('.splide', {
                type: 'loop',
                autoplay: 'true',
            }).mount();
        </script>
    </body>
</html>
