---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div>
		<div class="h-screen">
			Truly Tagum - City of Harmony
		</div>
		<div class="h-screen">
			schedule
		</div>
		<div class="h-screen">
			latest news
		</div>
	</div>
</Layout>