---
import Layout from "../layouts/Layout.astro";

const day1 = {
    morning: [
        {
            time: "9AM",
            events: [
                "Musikahan Goes Digital",
                "",
                "Master Class on Philippine Theater for Grades 7 & 8 with Nestor Horfilla",
            ],
        },
    ],
};
---

<Layout title="News">
    <main>
        <div class="min-h-screen">
            <div
                class="flex flex-row justify-center p-6 gap-10 bg-neutral-600 text-white"
            >
                <button>Day 1</button>
                <button>Day 2</button>
                <button>Day 3</button>
                <button>Day 4</button>
            </div>
            <div class="px-12 py-12 flex justify-center">
                <table class="w-2/3 table-fixed">
                    <thead>
                        <tr>
                            <th colspan="4">Morning</th>
                        </tr>
                        <tr>
                            <th>Time</th>
                            <th>City Atrium</th>
                            <th>City Square</th>
                            <th>City Theater Hall</th>
                        </tr>
                    </thead>
                    <tbody>
                        {
                            day1.morning.map((morningTime) => {
                                return (
                                    <tr>
                                        <td>{morningTime.time}</td>
                                        {morningTime.events.map((event) => {
                                            return <td>{event}</td>;
                                        })}
                                    </tr>
                                );
                            })
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="min-h-screen"></div>
        <div class="min-h-screen"></div>
    </main>
</Layout>
