---
import Layout from "../layouts/Layout.astro";
---

<Layout title="News">
    <main>
        <div
            class="nav-days flex flex-row justify-center p-6 gap-10 bg-neutral-600 text-white"
        >
            <button>Day 1</button>
            <button>Day 2</button>
            <button>Day 3</button>
            <button>Day 4</button>
        </div>
        <div class="min-h-screen">
            <div class="timeline">
                <div class="flex justify-center">
                    <div class="sm:w-1/2 w-full mt-4 mb-2">
                        <div class="content text-center z-[2]">
                            <h2 class="text-2xl font-bold">
                                February 16, 2023
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="container left">
                    <div class="content">
                        <h2 class="font-bold">9AM</h2>
                        <div>
                            <p>Musikahan Goes Digital</p>
                            <p>TODO: picture of the venue here</p>
                        </div>
                    </div>
                </div>
                <div class="container left">
                    <div class="content">
                        <h2 class="font-bold">9AM</h2>
                        <div>
                            <p>
                                Master Class on Philippine Theater for Grades 7
                                & 8 with Nestor Horfilla
                            </p>
                            <p>TODO: picture of the venue here</p>
                        </div>
                    </div>
                </div>
                <div class="container right">
                    <div class="content">
                        <h2 class="font-bold">10AM</h2>
                    <div>
                        <p>
                            Festival Opening Ceremonies
                        </p>
                        <p>TODO: picture of the venue here</p>
                    </div>
                    </div>
                </div>
                <div class="container right">
                    <div class="content">
                        <h2 class="font-bold">10AM</h2>
                        <div>
                            <p>
                                Opening Live Stream
                            </p>
                            <p>TODO: picture of the venue here</p>
                        </div>
                    </div>
                </div>
                <div class="container right">
                    <div class="content">
                        <h2 class="font-bold">10AM</h2>
                        <div>
                            <p>
                                Opening Live Stream
                            </p>
                            <p>TODO: picture of the venue here</p>
                        </div>
                    </div>
                </div>
                <div class="container left">
                    <div class="content">
                        <h2 class="font-bold">4PM</h2>
                        <div>
                            <p>
                                SPA Presents (Matinee Show)
                            </p>
                            <p>TODO: picture of the venue here</p>
                        </div>
                    </div>
                </div>
                <div class="container left">
                    <div class="content">
                        <h2 class="font-bold">4PM</h2>
                        <div>
                            <p>
                                Live Stream
                            </p>
                            <p>TODO: picture of the venue here</p>
                        </div>
                    </div>
                </div>
                <div class="container left">
                    <div class="content">
                        <h2 class="font-bold">4PM</h2>
                        <div>
                            <p>
                                Live Stream
                            </p>
                            <p>TODO: picture of the venue here</p>
                        </div>
                    </div>
                </div>
                <div class="container left">
                    <div class="content">
                        <h2 class="font-bold">7PM</h2>
                        <div>
                            <p>
                                Live Stream
                            </p>
                            <p>TODO: picture of the venue here</p>
                        </div>
                    </div>
                </div>
                <div class="container left">
                    <div class="content">
                        <h2 class="font-bold">7PM</h2>
                        <div>
                            <p>
                                Barangay Musikahan Grand Finals
                            </p>
                            <p>TODO: picture of the venue here</p>
                        </div>
                    </div>
                </div>
                <div class="container left">
                    <div class="content">
                        <h2 class="font-bold">4PM</h2>
                        <div>
                            <p>
                                SPA Presents (Gala Show)
                            </p>
                            <p>TODO: picture of the venue here</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="min-h-screen"></div>
        <div class="min-h-screen"></div>
    </main>
</Layout>

<style>
    :root {
        background-image: linear-gradient(
            to bottom,
            #d7e3ff,
            #e8d3fa,
            #ffc1e1,
            #ffb4b5,
            #ffb285,
            #ffa169,
            #ff8f4e,
            #ff7c31,
            #eb3c48,
            #c2005e,
            #85006e,
            #290072
        );
    }

    .nav-days {
        background-image: linear-gradient(
            to right,
            #e5054b,
            #e40068,
            #d90088,
            #c400a7,
            #a02cc5,
            #8451df,
            #5c6af2,
            #007fff,
            #009aff,
            #00a7d2,
            #00ac88,
            #19ab3a
        );
    }

    /* The actual timeline (the vertical ruler) */
    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
        content: "";
        position: absolute;
        width: 6px;
        background-color: white;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }

    /* Container around content */
    .container {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
    }

    /* The circles on the timeline */
    .container::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: white;
        border: 4px solid #ff9f55;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }

    /* Place the container to the left */
    .left {
        left: 0;
    }

    /* Place the container to the right */
    .right {
        left: 50%;
    }

    /* Add arrows to the left container (pointing right) */
    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
    }

    /* Add arrows to the right container (pointing left) */
    .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Fix the circle for containers on the right side */
    .right::after {
        left: -16px;
    }

    /* The actual content */
    .content {
        padding: 20px 30px;
        background-color: white;
        position: relative;
        border-radius: 6px;
    }

    /* Media queries - Responsive timeline on screens less than 600px wide */
    @media screen and (max-width: 600px) {
        /* Place the timelime to the left */
        .timeline::after {
            left: 31px;
        }

        /* Full-width containers */
        .container {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
        }

        /* Make sure that all arrows are pointing leftwards */
        .container::before {
            left: 60px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
        }

        /* Make sure all circles are at the same spot */
        .left::after,
        .right::after {
            left: 15px;
        }

        /* Make all right containers behave like the left ones */
        .right {
            left: 0%;
        }
    }
</style>
