---
import { getCollection } from 'astro:content';
import AppFooter from '../../components/AppFooter.astro';
import AppNav from '../../components/AppNav.astro';

const posts = await getCollection('news');
---

<!DOCTYPE html>
<html lang="tl">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>News | Musikahan - Tagum City</title>
        <link rel="stylesheet" href="/musikahan/umtagum/css/news.css" />
    </head>
    <body class="antialiased">
        <div class="relative bg-primary-10 text-primary">
            <AppNav />
            <main>
                <div class="min-h-screen sm:p-12 px-6">
                    <div class="text-4xl font-black">News</div>
                    <ul class="mt-6 list-disc list-inside text-primary">
                        {
                            posts.map((post) => {
                                return (
                                    <li class="list-item">
                                        <a
                                            class="hover:underline underline-offset-4 decoration-2"
                                            href={post.slug}
                                        >
                                            {post.data.title}
                                        </a>
                                    </li>
                                );
                            })
                        }
                    </ul>
                </div>
            </main>
            <!-- Do not display footer in /schedule page -->
            <AppFooter />
        </div>
    </body>
</html>
