<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>News | Musikahan - Tagum City</title>
        <link rel="stylesheet" href="/musikahan/umtagum/css/news.css" />
    </head>
    <body class="antialiased bg-primary-10">
        <div class="relative">
            <main class="w-full">
                <div class="sm:p-12 min-h-screen p-6">
                    <div class="w-full">
                        <a
                            class="flex flex-row items-center"
                            href="/musikahan/umtagum/news/"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                class="w-5 h-5"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                                    clip-rule="evenodd"></path>
                            </svg>

                            <span>Go to news</span>
                        </a>
                    </div>

                    <!-- News content -->
                    <div class="flex justify-center">
                        <div class="w-full mt-6 max-w-2xl">
                            <div
                                class="font-black text-4xl sm:text-6xl text-primary"
                            >
                                PARTICIPANTS LIST UP FOR MUSIKAHAN FESTIVAL
                            </div>

                            <p class="mt-6 text-justify">
                                Tagum City's grandest festival is back.
                                Musikahan is celebrating its 20th year and
                                bringing back all its signature events from
                                February 16 to 19. Gathered 2,545 participants
                                who will perform and compete in the various
                                Musikahan events. This year's music fest joining
                                the array participants are the delegates from
                                Manila, Tarlac, Agusan, Koronadal, Gen Santos,
                                Bukidnon, North Cotabato and South Cotabato. The
                                growing number of participations signifies
                                interest to celebrate the largest and all
                                intrusive running music festival.
                            </p>
                            <p class="mt-4 text-justify">
                                Pasiklaband (Battle of the Bands), Rondal-Awit,
                                Musikahan Music Video, Musikahan Sa Barangay,
                                Musikahan Goes Digital, SPA Poetry in Motion,
                                Himig Handog Choral Competition, and Musikahan
                                Outreach are just a few of the eagerly
                                anticipated activities.
                            </p>
                            <p class="mt-4 text-justify">
                                Working committees in each event revealed that
                                there are already 2545 contingents in general:
                                154 participants in Pasiklaband, 290 SPA
                                students for SPA Presents, 1,248 in Barangay
                                Musikahan, 191 from Rondal Awit Open Category,
                                and 10 in Rondalla Solo Instrument. There are
                                also 38 participants in Muiskahan Goes Digital,
                                114 in Musikahan Music Video, 149 in Himig
                                Handog Choral Youth Category, and 292
                                participants in the open category listed for the
                                contest. Along with these pop and rock
                                performers, Andrew E., Bamboo, Plethora Band,
                                and ILT Band, other performers, including the
                                NCCA Rondalla and the internationally acclaimed
                                Loboc Children's Choir, will also join the fun
                                of Musikahan.
                            </p>
                            <p class="mt-4 text-justify">
                                Musikahan: Pagpalig-on sa Kabag-uhan, Kahuusahan
                                ug Kadaugan is the festival's theme for this
                                year will undoubtedly be remembered as the
                                city's largest celebration.
                            </p>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="bg-primary-10">
                <div
                    class="mx-auto max-w-7xl overflow-hidden py-20 px-6 sm:py-24 lg:px-8"
                >
                    <div class="mt-10 flex justify-center space-x-10">
                        <a
                            href="https://www.facebook.com/tagumcity/"
                            target="_blank"
                            class="text-gray-400 hover:text-gray-500"
                        >
                            <span class="sr-only">Facebook</span>
                            <svg
                                class="h-6 w-6"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                                aria-hidden="true"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </a>

                        <a
                            href="https://mobile.twitter.com/tagumcity"
                            target="_blank"
                            class="text-gray-400 hover:text-gray-500"
                        >
                            <span class="sr-only">Twitter</span>
                            <svg
                                class="h-6 w-6"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                                aria-hidden="true"
                            >
                                <path
                                    d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"
                                ></path>
                            </svg>
                        </a>
                    </div>
                    <p
                        class="mt-10 text-center text-xs leading-5 text-gray-500"
                    >
                        &copy; 2022 Tagum City. All rights reserved.
                    </p>
                </div>
            </footer>
        </div>
        <script type="module" src="../js/news.js"></script>
    </body>
</html>
